pip==21.2.3
Flask==2.1.2
matplotlib==3.5.1
numpy==1.22.4
pandas==1.4.2
pickleshare==0.7.5
streamlit==1.10.0
lightgbm==3.3.2
scikit-learn==1.1.1
ipykernel==6.15.0
uvicorn==0.17.6
fastapi==0.78.0
requests==2.28.0
appdata==2.1.2
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.0.3
idna==3.3
requests==2.28.0
urllib3==1.26.9
